name: .NET Format

on:
  push:
  pull_request:

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Install .NET MAUI Workload
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore PullRequestReviewer.csproj

    - name: Check format
      run: dotnet format PullRequestReviewer.csproj --verify-no-changes --verbosity diagnostic
